<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>App Update Center</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/jquery.json.js"></script>
    <script src="/js/base64.min.js"></script>
    <script src="/js/ripples.min.js"></script>
    <script src="/js/material.min.js"></script>
    <link href="/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/css/ripples.min.css" rel="stylesheet">
{#    <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">#}
    <link rel="stylesheet" href="/css/common.css">
    <style>
        body {
            background: url('/img/background.jpg') center fixed;
        }

        #login-modal {
            margin-top: 100px;
        }

        .div-center {
            text-align: center;
        }
    </style>

    <script>
        function postJSON(url, json_str, success_function) {
            $.ajax({
                url : url,
                type : 'POST',
                data : json_str,
                async: true,
                dataType : 'json',
                contentType : 'application/text',
                success : success_function,
                error : function(xhr, error, exception) {
                    // handle the error.
                    alert(exception.toString());
                }
            });
        }

        function encodedJSON(dict) {
            for (var key in dict)
                if (dict.hasOwnProperty(key)) {
                    dict[key] = Base64.encode(dict[key]);
                }
            return $.toJSON(dict)
        }

        $(function () {
            $.material.init();
        });

        $(document).ready(function () {
            var dropdown = $('.dropdown-menu');
            dropdown.find('#connect-me').click(function () {
                window.location = 'mailto:i@6-79.cn';
            });
            dropdown.find('#open-source').click(function () {
                window.open('https://github.com/lqj679ssn/');
            });
            {% if request.session.isLogin %}
            $('#navbar-logout').click(function () {
                postJSON('/developer/logout/', '', function (response) {
                    if (response.code != 0) {
                        alert('错误'+response.code+'：'+response.msg);
                    }
                    window.location.reload();
                });
            });
            {% else %}
            $('#navbar-login').click(function () {
                window.location = '/app/login/redirect='+window.location.pathname;
            });
            {% endif %}
            $('.navbar-brand').click(function () {
                window.location = '/';
            });
        });

        $(document).ready(function () {
            $("#loading").fadeOut(0);
            var login_dialog = $('#login-modal');
            login_dialog.find('.btn-primary').click(function () {
                var usernameInput = $('#usernameInput'),
                    passwordInput = $('#passwordInput'),
                    username = usernameInput.val(),
                    password = passwordInput.val(),
                    post = { username: username, password: password },
                    json_str = encodedJSON(post);

                    usernameInput.val("");
                    passwordInput.val("");
                $("#loading").fadeIn(1000);
                postJSON('/developer/login/', json_str, function (response) {
                    if (response.code != 0) {
                        $("#loading").fadeOut(1000);
                        alert('错误'+response.code+'：'+response.msg);
                    }
                    else {
                        window.location = '{{ redirect }}';
                    }
                });
            });
        })
    </script>
</head>
<body>
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand hand_pt">主页</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                {% if request.session.isLogin %}
                    <li><a id="navbar-logout" class="hand_pt">登出</a></li>
                {% else %}
                    <li><a id="navbar-login" class="hand_pt">登录</a></li>
                {% endif %}
                    <li class="dropdown">
                        <a data-target="#" class="dropdown-toggle hand_pt" data-toggle="dropdown">
                            更多<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a id="connect-me" class="hand_pt">联系作者</a></li>
                            <li class="divider"></li>
                            <li><a id="open-source" class="hand_pt">代码开放</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-push-7" id="login-modal">
                <div class="modal-content">
                    <div class="modal-header div-center">
                        <h1>用户登录</h1>
                    </div>
                    <div class="modal-body">
                        <div class="form-group label-floating">
                          <label class="control-label" for="usernameInput">账号</label>
                          <input class="form-control" id="usernameInput" type="text">
                        </div>
                        <div class="form-group label-floating">
                          <label class="control-label" for="passwordInput">密码</label>
                          <input class="form-control" id="passwordInput" type="password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default">忘记密码</button>
                        <button class="btn btn-primary">登录</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>