body {
  padding-top: 50px
}

#banner {
  border-bottom: none
}

::-webkit-scrollbar {
    display: none;
}

.page-header h1 {
  font-size: 4em
}

.bs-docs-section {
  margin-top: 8em
}

.bs-component {
  position: relative
}

.bs-component .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block
}

.bs-component .modal-dialog {
  width: 90%
}

.bs-component .popover {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 20px
}

#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: bold;
  padding: 5px 10px;
}

.progress {
  margin-bottom: 10px
}

footer {
  margin: 5em 0
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em
}

footer p {
  clear: left;
  margin-bottom: 0
}

.splash {
  padding: 4em 0 0;
  background-color: #141d27;
  color: #fff;
  text-align: center
}

.splash h1 {
  font-size: 4em
}

.splash #social {
  margin: 2em 0
}

.splash .alert {
  margin: 2em 0
}

.section-tout {
  padding: 4em 0 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #eaf1f1
}

.section-tout .fa {
  margin-right: .5em
}

.section-tout p {
  margin-bottom: 3em
}

.section-preview {
  padding: 4em 0 4em
}

.section-preview .preview {
  margin-bottom: 4em;
  background-color: #eaf1f1
}

.section-preview .preview .image {
  position: relative
}

.section-preview .preview .image:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none
}

.section-preview .preview .options {
  padding: 1em 2em 2em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
  text-align: center
}

.section-preview .preview .options p {
  margin-bottom: 2em
}

.section-preview .dropdown-menu {
  text-align: left
}

.section-preview .lead {
  margin-bottom: 2em
}

@media (max-width: 767px) {
  .section-preview .image img {
    width: 100%
  }
}

.sponsor {
  text-align: center
}

.sponsor a:hover {
  text-decoration: none
}

@media (max-width: 767px) {
  #banner {
    margin-bottom: 2em;
    text-align: center
  }
}

.infobox .btn-sup {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}

.infobox .btn-sup img {
  opacity: 0.5;
  height: 30px;
}

.infobox .btn-sup span {
  padding-left: 10px;
  position: relative;
  top: 2px;
}

.icons-material .row {
  margin-bottom: 20px;
}

.icons-material .col-xs-2 {
  text-align: center;
}

.icons-material i {
  font-size: 34pt;
}

.icon-preview {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #D5D5D5;
  border-radius: 3px;
  cursor: pointer;
}

.icon-preview span {
  display: none;
  position: absolute;
  background: black;
  color: #EEE;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 2px;
  z-index: 10;
}

.icon-preview:hover i {
  color: #4285f4;
}

.icon-preview:hover span {
  display: block;
  cursor: text;
}

#loading{
    background-color: #009688;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0;
    top: 0;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
    }
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    -webkit-animation: loading-center-absolute 1s infinite;
    animation: loading-center-absolute 1s infinite;

}
.object{
    width: 20px;
    height: 20px;
    background-color: #FFF;
    float: left;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    margin-right: 20px;
    margin-bottom: 20px;    
}
.object:nth-child(2n+0) {
    margin-right: 0;

}
#object_one{
    -webkit-animation: object_one 1s infinite;
    animation: object_one 1s infinite;
    }
#object_two{
    -webkit-animation: object_two 1s infinite;
    animation: object_two 1s infinite;
    }    
#object_three{
    -webkit-animation: object_three 1s infinite;
    animation: object_three 1s infinite;
    }        
#object_four{
    -webkit-animation: object_four 1s infinite;
    animation: object_four 1s infinite;
    }        
    
@-webkit-keyframes loading-center-absolute{
100% {
    -ms-transform: rotate(360deg); 
       -webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
    }            
    
}        
@keyframes loading-center-absolute{
100% {
    -ms-transform: rotate(360deg); 
       -webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
    }
}    
    
    
                                

@-webkit-keyframes object_one{
50% {
    -ms-transform: translate(20px,20px); 
       -webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
    }
}        
@keyframes object_one{
50% {
     -ms-transform: translate(20px,20px); 
       -webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
    }
}


@-webkit-keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
       -webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
    }
}        
@keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
       -webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
    }
}



@-webkit-keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
       -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
    }
}        
@keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
       -webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
    }
}

@-webkit-keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
       -webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
    }
}        
@keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
       -webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
    }
}

pre {
    white-space: pre-wrap;
    border: none;
    background: none;
    margin: 0;
}

.ion-plus-round, .ion-close-round, .ion-android-arrow-up, .ion-android-add, .ion-android-delete {
    color: #fff;
}

.hand_pt {
    cursor: pointer;
}
